# will need to install the civo CLI in order for this to work
export CIVO_TOKEN="$(civo apikey show --output custom --fields key)"

export KUBECONFIG="$PWD/infra/civo/kubeconfig"

export ENDPOINT=$(terraform -chdir=infra/civo output -raw lb_domain)

export CLUSTER=$(terraform -chdir=infra/civo output -raw cluster_domain)
